In [6]:
def get_data(sql_db, query):
    '''
        Accepts 2 arguments of string type:
        1: SQL database name
        2: SQL query
        
        Checks if .csv already exists before
        connecting with SQL database again
        
        Saves a .csv file of DataFrame
        
        Returns DataFrame
    '''
    import os
    import pandas as pd

    
    # variable to hold filename created from 
    # input argument of SQL database name
    path = f'{sql_db}.csv'
    
    # Holds boolean result of check for
    # .csv existing; uses OS module
    file_exists = os.path.exists(path)
    
    # Uses boolean value variable to
    # check whether to create a new
    # SQL connection or load .csv
    #
    # Finished off by returning DataFrame
    if file_exists:
        df = pd.read_csv(path)
        
        print('Reading CSV')
        return df

    else:
        url = get_db_url(sql_db)
        df = pd.read_sql(query, url)
        df.to_csv(f'{sql_db}.csv')
        
        print('Downloading SQL DB')
        return df

In [2]:
def clean_data(df):
    '''
        Accepts DataFrame from get_data() function in wrangle.py
            &
        Returns a cleaned DataFrame
    '''

    # Drop Nulls
    df = df.dropna()

    # Temporarily converts 'fips' column to interger to remove
    # trailing zeroes from current float type
    df['fips'] = df['fips'].apply(int)

    # Converts 'fips' column to string to target data type
    df['fips'] = df['fips'].apply(str)

    # Adds leading 'zero' character to 'fips' column, which
    # is now a string data type
    df['fips'] = '0' + df['fips']

    # Converts 'yearbuilt' column to interger
    df['yearbuilt'] = df['yearbuilt'].apply(int)

    # Method of removing last 2 strings in all columns
    #df['fips']=df['fips'].str[:-2]

    return df

In [14]:
sql_db = "zillow"
query = '''
            SELECT
                bedroomcnt,
                bathroomcnt,
                calculatedfinishedsquarefeet,
                taxvaluedollarcnt,
                yearbuilt,
                taxamount,
                fips,
                propertylandusedesc
            FROM 
                properties_2017
                JOIN 
                    propertylandusetype USING(propertylandusetypeid)
            WHERE 
                propertylandusedesc = 'Single Family Residential';
            '''
df = get_data(sql_db,query)

Reading CSV

In [15]:
df = df.dropna()

In [16]:
df['fips'] = df['fips'].apply(int).copy()

In [18]:
df['fips'] = df['fips'].apply(str).copy()

In [20]:
df['fips'] = '0' + df['fips'].copy()

In [21]:
df.head()

,Unnamed: 0,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,propertylandusedesc
4,4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,06037,Single Family Residential
6,6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,06037,Single Family Residential
7,7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,06037,Single Family Residential
11,11,0.0,0.0,1200.0,5328.0,1972.0,91.60,06037,Single Family Residential
14,14,0.0,0.0,171.0,6920.0,1973.0,255.17,06037,Single Family Residential